
@font-face {
    font-family: SpookyMonster;
    src: url(../assets/SpookyMonster.otf);
}


h1{
    color: red;
    font-family: 'SpookyMonster';
}


.indexBody
{
    background-color: black;
}

.indexTittle
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.indexText
{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.indexButton
{
    margin-right: 725px;
    margin-left: 725px;
   background-color: red;
    font-size: 40px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.startTittle
{
    font-family: SpookyMonster;
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 120px;
   
}

.startBackground
{
    background-image: url(../assets/pictures/StartPageBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.ghostGif
{
   
    scale: 50%;
    display: flex;
    justify-content: center;
    
}

.startButton
{
    font-family: SpookyMonster;
    font-size: 80px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: orange;
    margin-left: 600px;
    margin-right: 600px;
}






.mybackground{
    background-image: url(/page/assets/halloween-decorations-neighborhood_118124-43464.jpg.avif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}


.body1{
    width:500px;
    text-align: center;
    font-size: 20px;
}

