body {
        display: flex;
    justify-content: center;
}

@font-face {
    font-family: SpookyMonster;
    src: url(../assets/SpookyMonster.otf);
}


h1{
    color: red;
    font-family: 'SpookyMonster';
}


.indexBody
{
    background-color: black;
}

.indexTittle
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.indexText
{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.indexButton
{
    margin-right: 725px;
    margin-left: 725px;
   background-color: red;
    font-size: 40px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.startTittle
{
    font-family: SpookyMonster;
    color: orange;
    display: flex;
    justify-content: center;
    font-size: 120px;
    text-shadow: 15px 0px 0px black;
    
   
}

.startBackground
{
    background-image: url(../assets/pictures/StartPageBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.ghostGif
{
   
    scale: 50%;
    display: flex;
    justify-content: center;
    
}

.startButton
{
    font-family: SpookyMonster;
    font-size: 80px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: orange;
    margin-left: 600px;
    margin-right: 600px;
}

.choiceBackground
{
    background-image: url(../assets/pictures/EMptyStreet.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}



.mybackground{
    background-image: url(/assets/halloween-decorations-neighborhood_118124-43464.jpg.avif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}

.background{
    background-image: url(/assets/Early-evening-crowds-line-up-at-Marci-and-Joe-Emersons-house.-Photo-courtesy-of-Marci-Emerson.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.body1{
    /* width:800px; */
    font-family: 'SpookyMonster';
    text-align: center;
    font-size: 40px;
    display:flex;
    justify-content: center;
    
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
}
.button-container a {
    font-family: 'SpookyMonster';
    display: block;
    margin: 10px 0; 
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 200px; 
}



.choiceTextBox
{        
    width: 80%;
    font-family: SpookyMonster;
    color: black;
    background-color: orange;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.GMEndTextBox
{
    margin-top: 480px;
    font-family: SpookyMonster;
    color: black;
    background-color: orange;
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    
}

.GM1Background
{
    background-image: url(../assets/pictures/haunted-mansion-holiday-front-entrance.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.GM2Background
{
    background-image: url(../assets/pictures/skeleton-ambulance.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}



.story4HouseBackground
{
    background-image: url(../assets/pictures/4StoryHouse.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.story4HouseEndBackground
{
    background-image: url(../assets/pictures/FullCandyBags.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.Story4endTextBox
{
    margin-top: 480px;
    font-family: SpookyMonster;
    color: black;
    background-color: orange;
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    
}



.creepyBackground
{
    background-image: url(../assets/pictures/creepyRoute.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.flex-item
{
    justify-content: center;
    font-family: SpookyMonster;
    font-size: 40px;
    background-color: orange;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    color: black;
    text-align: center;
}

.creepySubtitle
{
    text-align: center;
    font-size: 40px;
}

.creepyChoiceButtons
{
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    background-color: rgb(218, 73, 218);
}

/*Instead of using padding-top: 660px;, use this to set your containers on the bottom portion of the page*/

/*Tried this and didn't work, but i see what it's trying to do, please remind me when we are on person so we can test it better - Juan*/
.footer
{
    position: fixed;
    bottom: 150px;
}

.footerButtons
{
    position: fixed;
    bottom: 60px;
}